@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --clr-navy: #1F2937;
    --clr-acc: #3882f6;
    --clr-main-txt: #f9faf8;
    --clr-sec-txt: #e5e7eb;
}

:root {
    --shadow-color: 207deg 77% 10%;
    --shadow-elevation-low:
        0.7px 0.6px 1.1px hsl(var(--shadow-color) / 0.44),
        2.8px 2.5px 4.4px -2.1px hsl(var(--shadow-color) / 0.52);
    --shadow-elevation-medium:
        0.7px 0.6px 1.1px hsl(var(--shadow-color) / 0.62),
        14.2px 12.3px 22.1px -2.1px hsl(var(--shadow-color) / 0.72);
}

* {
    margin: 0;
    padding: 0;
    /* outline: 2px solid rgb(155, 53, 53); */
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: var(--clr-sec-txt);
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #979797;
}

.top-box {
    /* background-color: var(--clr-navy); */
    background: rgb(30, 63, 88);
    background: linear-gradient(90deg, rgb(16, 36, 53) 0%, rgb(26, 59, 85) 100%);
    height: 500px;
    display: flex;
    justify-content: center;
}

.top {
    padding: 12px;
    align-self: center;
    margin: 0 64px;
    max-width: 1200px;
}

.header {
    display: flex;
    font-weight: 500px;
}

.logo {
    flex: 1 1 auto;
    font-size: 24px;
    font-weight: 900;
    color: var(--clr-main-txt);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
    font-weight: 400;
}

.start {
    margin: 6rem 0;
    display: flex;
    gap: 3rem;
}

.start h1 {
    font-size: 48px;
    color: var(--clr-main-txt);
}

.start p {
    font-size: 18px;
    color: var(--clr-sec-txt);
}

.start div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.start div div {
    margin-top: 12px;
    align-self: flex-start;
}

.start img {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--shadow-elevation-medium);
}

.container-2 {
    max-width: 1200px;
    align-self: center;
    flex-basis: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.container-2 h1 {
    font-size: 48px;
    color: var(--clr-navy);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    color: #414141;
    gap: 8px;
}

.box img {
    border: 4px solid var(--clr-acc);
    border-radius: 20px;
    aspect-ratio: 1;
    object-fit: cover;
}

.container-3 {
    background-color: #E5E7EB;
    flex-basis: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    margin: 0 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 800px;
}

#quote {
    font-size: 36px;
    font-weight: 300;
    color: var(--clr-navy);
}

#author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
}

button {
    padding: 8px 24px;
    background-color: var(--clr-acc);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 800;
    flex: 0 0 auto;
    align-self: center;
}

.container-4 {
    flex-basis: 300px;
    display: flex;
    justify-content: center;
}

.call-to-action {
    margin: 100px 100px;
    max-width: 1200px;
    flex: auto;
    height: 120px;
    border-radius: 5px;
    color: white;
    background-color: var(--clr-acc);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-4 button {
    border: 2px solid white;
}

.footer {
    margin-top: auto;
    padding: 36px;
    color: var(--clr-sec-txt);
    background-color: var(--clr-navy);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}